.partners {
  background: #ffffff;
  padding: 120px 0;
  @media screen and (max-width: $break-mobile) {
    padding: 60px 0;
  }
  > .container {
    @media screen and (max-width: $break-mobile) {
      flex-direction: column;
    }
  }
  .partners-logos {
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $break-mobile) {
      order: 2;
      margin-top: 30px;
    }

    gap: fluidVal(5, 25);
    > div {
      gap: 25px;
      img {
        min-width: 0;
      }
    }
  }
  .teleoperators {
    gap: 25px;
  }
  /*  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    justify-items: center;
  } */
  /*   .partners-flex {
    gap: 25px;
    justify-content: center;
  } */
  /* .grid-span-2 {
    grid-column: span 2;
  }
  .teleoperators {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  } */
}
