nav#main {
  ul {
    color: $white;
  }
}
/* HEADINGS */
.heading1 {
  /* font-size: clamp(24px, 2.5vw, 48px); */
  @media screen and (max-width: $break-mobile) {
    font-size: calc(48px * 0.7);
  }
  font-size: fluidVal(24, 48);
  line-height: 1.42;
  font-weight: 700;

  padding-bottom: 22px;
}
.heading2 {
  /* @media screen and (max-width: $break-mobile) {
    font-size: 20px;
  } */
  @media screen and (max-width: $break-mobile) {
    font-size: calc(40px * 0.7);
  }
  font-size: fluidVal(20, 40);
  line-height: 1.4;
  font-weight: 700;
}
.heading3 {
  @media screen and (max-width: $break-mobile) {
    font-size: calc(32px * 0.7);
  }
  font-size: fluidVal(16, 32);
  line-height: 1.25;
  font-weight: 700;

  padding-bottom: 24px;
}
.heading4 {
  /* font-size: 28px; */
  font-size: fluidVal(14, 28);
  line-height: 1.43;
  font-weight: 700;
}

.text {
  @media screen and (max-width: $break-mobile) {
    font-size: calc(16px * 0.7);
  }
  font-size: fluidVal(8, 16);
  line-height: 1.5;
  font-weight: 400;
}
.subtitle {
  /* font-size: 18px; */
  @media screen and (max-width: $break-mobile) {
    font-size: calc(18px * 0.7);
  }
  font-size: fluidVal(9, 18);

  line-height: 1.33;
  font-weight: 600;
}

/* INFO CARD */
.info-card-title,
.infographic-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
}
.info-card-subtitle,
.infographic-subtitle {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.info-card-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

/* INFOGRAPHICS */
.infographics-number {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
}

/* BUTTON */
.button,
.form button {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  @media screen and (max-width: $break-mobile) {
    font-size: 13px;
  }
}
