/* WIDTH */
.col-dt-2 {
  @media screen and (min-width: $break-mobile) {
    width: calc(2 / 12 * 100%);
  }
}
.col-dt-4 {
  @media screen and (min-width: $break-mobile) {
    width: calc(4 / 12 * 100%);
  }
}
.col-dt-5 {
  @media screen and (min-width: $break-mobile) {
    width: calc(5 / 12 * 100%);
  }
}
.col-dt-6 {
  width: 100%;
  @media screen and (min-width: $break-mobile) {
    width: calc(6 / 12 * 100%);
  }
}
.col-dt-8 {
  @media screen and (min-width: $break-mobile) {
    width: calc(8 / 12 * 100%);
  }
}
.col-dt-9 {
  @media screen and (min-width: $break-mobile) {
    width: calc(9 / 12 * 100%);
  }
}
.col-dt-10 {
  @media screen and (min-width: $break-mobile) {
    width: calc(10 / 12 * 100%);
  }
}

/* OFFSET */
.offset-1 {
  margin-left: calc(1 / 12 * 100%);
}
.offset-dt-1 {
  @media screen and (min-width: $break-mobile) {
    margin-left: calc(1 / 12 * 100%);
  }
}
.offset-dt-2 {
  @media screen and (min-width: $break-mobile) {
    margin-left: calc(2 / 12 * 100%);
  }
}
.offset-dt-4 {
  @media screen and (min-width: $break-mobile) {
    margin-left: calc(4 / 12 * 100%);
  }
}
