.faq {
  margin-bottom: 75px;
  .heading2 {
    margin-bottom: 23px;
  }
}
.faq-container {
  gap: 24px;
  @media screen and (max-width: $break-tb) {
    flex-direction: column;
    gap: 0;
  }
  .faq-item {
    &-toggle {
      display: none;
      appearance: none;
      outline: none;
      &:checked {
        ~ .faq-item-content {
          max-height: 500px;
        }
        ~ .accordion-title {
          border-bottom: none;
          .accordionIcon::after {
            rotate: 0deg;
            opacity: 0;
          }
        }
      }
    }
    &-title {
      flex: 1;
      cursor: pointer;
    }
    &-content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
      padding-left: 40px;
    }
  }

  .leftAccordion,
  .rightAccordion {
    width: 100%;
  }
  .accordion-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid $mediumgrey;
  }
  .accordionIcon {
    margin-right: 16px;
    flex-grow: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      position: absolute;
      background: $primary;
      border-radius: 9999px;
    }
    &::after {
      opacity: 1;
      transition: rotate 0.2s ease-in-out, opacity 0.2s ease-in-out;
      rotate: 90deg;
    }
  }
}
